$--primary: #eb5f07;
$--bg-color: #ececec;
$--bubble-right: #696969;
$--dot-animation-color: #eb5f07;

$--box-shadow: rgba(0, 18, 46, 0.16) 0px 8px 18px 0px;

$--header-height: 3.75rem;

// Table styles
$--black-lighter: #757575;
$--border-color: #d0d7de;
$--border-color-lighter: #eceef0; // #e6e9ed
$--border-input: 1px solid $--border-color;
$--gray-medium: rgba(0, 0, 0, 0.25);
$--black-medium: #505050;

// font-size
$--xs-text: 0.625rem; // 10px   | 0.65rem;
$--sm-text: 0.725rem; // 11.6px | 0.75rem;
$--md-text: 0.85rem; // 13px   | 0.875rem;
$--lg-text: 0.95rem; //  15.5px | 0.95rem;
$--xl-text: 1.125rem; // 18px   | 1.125rem;
$--xxl-text: 1.25rem; // 20px   | 1.25rem;
$--3xl-text: 1.5rem; //  24px   | 1.4rem;
$--4xl-text: 1.85rem; // 28px   | 1.85rem;
// font-weight
$--font-w-extra-light: 200;
$--font-w-light: 300;
$--font-w-regular: 400;
$--font-w-medium: 500;
$--font-w-semi-bold: 600;
$--font-w-bold: 700;
$--font-w-extra-bold: 800;
$--font-w-black: 900;
